# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [13]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      4
1  banana  medium      9
2  orange     low      0
3   apple    high      5
4  banana  medium     11
5  orange     low      9
6   apple    high      8
7  banana  medium      2
8  orange     low     11
    fruit weight  price
0   apple   high      3
1  orange    low      9
2    pine   high      0
3   apple    low     13
4  orange   high      9
5    pine    low      0

In [5]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        4     high        3
1    apple     high        4      low       13
2    apple     high        5     high        3
3    apple     high        5      low       13
4    apple     high        8     high        3
5    apple     high        8      low       13
6   orange      low        0      low        9
7   orange      low        0     high        9
8   orange      low        9      low        9
9   orange      low        9     high        9
10  orange      low       11      low        9
11  orange      low       11     high        9

In [12]:
pd.merge(df1, df2, how='outer')

     fruit  weight  price
0    apple    high      4
1   banana  medium      9
2   orange     low      0
3    apple    high      5
4   banana  medium     11
5   orange     low      9
6    apple    high      8
7   banana  medium      2
8   orange     low     11
9    apple    high      3
10    pine    high      0
11   apple     low     13
12  orange    high      9
13    pine     low      0

In [14]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

In [6]:
# - 依照 index 索引做合併
pd.concat([df1, df2]).reset_index(drop=True)

     fruit  weight  price
0    apple    high      4
1   banana  medium      9
2   orange     low      0
3    apple    high      5
4   banana  medium     11
5   orange     low      9
6    apple    high      8
7   banana  medium      2
8   orange     low     11
9    apple    high      3
10  orange     low      9
11    pine    high      0
12   apple     low     13
13  orange    high      9
14    pine     low      0

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
# pd.merge()的default是inner join,要兩邊都有才會合併(取交集)

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
#兩個dataframe有些資料欄位重複，所以產生錯誤

In [9]:
df1.join(df2,lsuffix="_df1",rsuffix="_df2")

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          4     apple       high        3.0
1    banana     medium          9    orange        low        9.0
2    orange        low          0      pine       high        0.0
3     apple       high          5     apple        low       13.0
4    banana     medium         11    orange       high        9.0
5    orange        low          9      pine        low        0.0
6     apple       high          8       NaN        NaN        NaN
7    banana     medium          2       NaN        NaN        NaN
8    orange        low         11       NaN        NaN        NaN

In [10]:
pd.merge(df1,df2, left_index=True, right_index=True, how='outer')

  fruit_x weight_x  price_x fruit_y weight_y  price_y
0   apple     high        4   apple     high      3.0
1  banana   medium        9  orange      low      9.0
2  orange      low        0    pine     high      0.0
3   apple     high        5   apple      low     13.0
4  banana   medium       11  orange     high      9.0
5  orange      low        9    pine      low      0.0
6   apple     high        8     NaN      NaN      NaN
7  banana   medium        2     NaN      NaN      NaN
8  orange      low       11     NaN      NaN      NaN